@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@600;700;800&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body,
#root,
  .app,
    .content{
      height: 100%;
      width: 100%;
      font-family: 'Montserrat';
    }

  .app{
    display: flex;
    position: relative;
  }

  ::-webkit-scrollbar{
    width: 10px;
  }

  ::-webkit-scrollbar-track{
    background: #e0e0e0;
  }

  ::-webkit-scrollbar-thumb{
    background: #c2c0c0;
  }

  ::-webkit-scrollbar-track:hover{
    background: #989797;
  }